<div class="container">
  <div class="row">
    <%= form_for @application, html: {class: "col s10 offset-s1"} do |f| %>
    <div class="row">
      <div class="input-field col s3">
        <%= f.label :spaces_amount, "Number of spaces desired" %>
        <%= f.number_field :spaces_amount, in: 1..2, step: 1, placeholder: "Number of Spaces Requested" %>
      </div>
    </div>
    <div class="row">
      <div>
        <%= f.check_box :chamber, class: "filled-in" %>
        <%= f.label :chamber, "Chamber Member?" %>
      </div>
    </div>
    <div class="row">
      <div>
        <%= f.check_box :electric, class: "filled-in" %>
        <%= f.label :electric, "Will you need electricity?" %>
      </div>
    </div>
    <%= f.hidden_field :vendor_id, value: current_user.id %>
    <%= f.hidden_field :event_id, value: @application.event_id %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="Kennedy & Associates"
      data-description="Application fee for <%= "#{@event.city.name} #{@event.title}" %>"
      data-amount="<%= @application.fee %>"
      data-locale="auto"
      data-zip-code=true
      data-label="Proceed to Payment"
      data-panel-label="Submit Application"
      data-allow-remember-me=true
      data-email="<%= current_user.email %>"
      ></script>


    <p><%= f.submit "Submit Application", class: "btn" %></p>

    <% end %>
  </div>
</div>
