<div class="parallax-container">
  <div class="parallax"><%= image_tag("escondido") %></div>
</div>
<div class="section grey lighten-3">
  <div class="row container">
    <h4 class="header">Upcoming Events</h4>
    <p class="grey-text text-darken-3 lighten-3">
      <ul>
        <p><%= "Our #{Date.today.year} schedule:" unless @this_year.empty?%></p>
        <% @this_year.each do |event| %>
          <li> <%= "#{event.city.name} #{event.title}: #{event.date.strftime('%B, %e')}" %> </li>
        <% end %>
      </ul>
      <ul>
        <p><%= "Our #{Date.today.next_year.year} schedule:" unless @next_year.empty?%></p>
        <% @next_year.each do |event| %>
          <li> <%= "#{event.city.name} #{event.title}: #{event.date.strftime('%B, %e')}" %> </li>
        <% end %>
      </ul>
    </p>
  </div>
</div>
