<div class="container">
  <h3><%= @city.name %></h3>
  <p>
    <%= @city.description %>
  </p>
  <% @events.each do |event| %>
    <div id="<%= event.title.parameterize %>">
      <h4><%= event.title %></h4>
      <h5><%= present_day(event) %></h5>
      <div>
        <%= link_to_login_or_apply(@city, event) %>
      </div>
    </div>
  <% end %>
</div>
