<h2>Your Information</h2>
<h4>Personal:</h4>
<ul>
  <li>First: <%= @vendor.first_name %></li>
  <li>First: <%= @vendor.first_name %></li>
  <li>First: <%= @vendor.first_name %></li>
  <li>First: <%= @vendor.first_name %></li>
  <li>First: <%= @vendor.first_name %></li>
  <li>First: <%= @vendor.first_name %></li>
</ul>
